{% extends "base.html" %}

{% block page_title %}
    {{ super() }} | Projects
{% endblock %}

{% block content %}
    <section class="content">
        <h1 class="title">Recent Projects</h1>

        <section class="project first">
            <h4 class="title">
                Geophrasebook
            </h4>

            <p>
                <a href="https://geophrasebook.com" class="active" target="_blank">
                    Free language survival tool: Geo location specific phrasebook based on social networking.
                </a>
            </p>
        </section>

        <section class="project">
            <h4 class="title">
                Panda Taxi
            </h4>

            <p>
                <a href="https://play.google.com/store/apps/details?id=com.spalmalo.android.taxi" class="active" target="_blank">
                    Taxi service navigation and order delivering application for drivers (Android).
                </a>
            </p>
        </section>

        <section class="project">
            <h4 class="title">
                Next Radio
            </h4>

            <p>
                <a href="https://play.google.com/store/apps/details?id=com.spalmalo.android.radio" class="active" target="_blank">
                    Internet radio application on Android.
                </a>
            </p>
        </section>

        <section class="project">
            <h4 class="title">
                Namba Taxi
            </h4>

            <p>
                <a href="http://taxi.namba.kg" class="active" target="_blank">
                    Developed realtime order processing dashboard based on BackboneJS, NodeJS, Socket.io, Redis and Django.
                </a>
            </p>
        </section>

        <section class="project">
            <h4 class="title">
                Deeyoon
            </h4>

            <p>
                <a href="http://deeyoon.com" class="active" target="_blank">
                    Debate platform to discuss issues with real people in a formal manner.
                    The debates are live and often heated.
                </a>
            </p>
        </section>

    </section>
{% endblock %}
